@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
  letter-spacing: 4px;
  word-spacing: 8px;
  font-family: 'Salsa', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;